@model EmpresaViewModel

@{
    ViewData["Title"] = "Cadastro de Empresas";
}

<h2 class="text-center mb-4">Cadastro de Empresas</h2>

<form asp-action="Salvar">
    <input type="hidden" value="@ViewBag.cadastroEmpresa" name="cadastroEmpresa" />
    <div class="container">
        <div class="row">
            <!-- Id e Nome na mesma linha -->
            <div class="col-md-3">
                <label for="Id" class="col-form-label">Id</label>
                @if (ViewBag.cadastroEmpresa == "I")
                {
                    <input type="text" name="id" value="@Model.Id" class="form-control" />
                }
                else
                {
                    <input type="text" name="id" value="@Model.Id" class="form-control" readonly />
                }
            </div>
            <div class="col-md-9">
                <label for="RazaoSocial" class="col-form-label">RazaoSocial</label>
                <input type="text" name="RazaoSocial" value="@Model.RazaoSocial" class="form-control" />
            </div>
        </div>
        <br />

        <div class="row">
            <!-- Email sozinho em uma linha -->
            <div class="col-md-12">
                <label for="NomeFantasia" class="col-form-label">NomeFantasia</label>
                <input type="text" name="NomeFantasia" value="@Model.NomeFantasia" class="form-control" />
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-6">
                <label for="CNPJ" class="col-form-label">CNPJ</label>
                <input type="text" name="CNPJ" value="@Model.CNPJ" class="form-control" />
            </div>
            <div class="col-md-6">
                <label for="InscricaoEstadual" class="col-form-label">InscricaoEstadual</label>
                <input type="text" name="InscricaoEstadual" value="@Model.InscricaoEstadual" class="form-control" />
            </div>
            
        </div>
        <br />

        <div class="row">
            <div class="col-md-12">
                <label for="Endereco" class="col-form-label">Endereco</label>
                <input type="text" name="Endereco" value="@Model.Endereco" class="form-control" />
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-6">
                <label for="EstadoId" class="col-form-label">Estado</label>
                <select asp-for="EstadoId" class="form-control" asp-items="ViewBag.Estados">
                    <option value="">Selecione um estado</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="CidadeId">Cidade</label>
                @*<input type="text" name="CidadeId" value="@Model.CidadeId" class="form-control" />*@
                <select asp-for="CidadeId" class="form-control" id="CidadeId" name="CidadeId">
                    <option value="">Selecione uma cidade</option>
                </select>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-6">
                <label for="Tipo" class="col-form-label">Tipo</label>
                <input type="text" name="Tipo" value="@Model.Tipo" class="form-control" />
            </div>
            <div class="col-md-6">
                <label for="Cep" class="col-form-label">Cep</label>
                <input type="text" name="Cep" value="@Model.Cep" class="form-control" />
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-12">
                <label for="Cep" class="col-form-label">WebSite</label>
                <input type="text" name="WebSite" value="@Model.WebSite" class="form-control" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label for="Telefone1" class="col-form-label">Telefone 1</label>
                <input type="text" name="telefone1" value="@Model.Telefone1" class="form-control" />
            </div>
            <div class="col-md-6">
                <label for="Telefone2" class="col-form-label">Telefone 2</label>
                <input type="text" name="telefone2" value="@Model.Telefone2" class="form-control" />
            </div>
        </div>
        <br />

        @if (ViewBag.cadastroUsuario != "I")
        {
            <div class="row">
                <!-- Data de Registro -->
                <div class="col-md-12 ">
                    <label for="DataRegistro" class="col-form-label">Data de Registro</label>
                    <input type="date" name="dataRegistro" value="@Model.DataRegistro.ToString("yyyy-MM-dd")" class="form-control" />
                </div>
            </div>
            <br />
        }

        <!-- Botão de Submit -->
        <div class="row">
            <div class="col-md-12 text-center">
                <input type="submit" class="btn btn-success" value="Salvar" />
            </div>
        </div>
    </div>
</form>

<script>
    document.getElementById('EstadoId').addEventListener('change', function () {
        var estadoId = this.value;
        var cidadeSelect = document.getElementById('CidadeId');
        cidadeSelect.innerHTML = '<option value="">Selecione uma cidade</option>'; // Reset

        if (estadoId) {
            fetch('/Usuario/GetCidades?estadoId=' + estadoId)
                .then(response => response.json())
                .then(cidades => {
                    console.log(cidades); // Verifique a estrutura do objeto retornado
                    cidades.forEach(cidade => {
                        console.log(cidade); // Verifique a estrutura de cada cidade
                        var option = document.createElement('option');
                        option.value = cidade.id;
                        option.textContent = cidade.cidade;
                        cidadeSelect.appendChild(option);
                    });
                })
                .catch(error => console.error('Erro ao buscar cidades:', error));
        }
    });
</script>