@model List<EmpresaViewModel>
@{
    ViewData["Title"] = "Empresas Cadastradas";
}

<h1>Empresas Cadastradas</h1>

<a href="/empresa/NovoRegistro" class="btn btn-info">Novo registro</a>
<br />

<table class="table">
    <tr>
        <th>Ações</th>
        <th>Id</th>
        <th>Nome Fanfasia</th>
        <th>Web Site</th>
        <th>Tipo</th>
    </tr>

    @for (int i = 0; i < Model.Count; i++)
    {
        var em = Model[i];
        var rowClass = i % 2 == 0 ? "linha-verde" : "linha-azulescuro"; // Alterna entre verde e azul escuro

        <tr class="@rowClass">
            <td>
                <a href="/empresa/editar?id=@em.Id">Editar</a>
                &nbsp;
                <a href="javascript:apaga(@em.Id)">Apagar</a>
                &nbsp;
                <a href="/empresa/exibir?id=@em.Id">Exibir</a>
            </td>
            <td>@em.Id</td>
            <td>@em.NomeFantasia</td>
            <td>@em.WebSite</td>
            <td>@em.Tipo</td>
        </tr>
    }
</table>

<script>
    function apaga(id) {
        if (confirm('Apaga mesmo?'))
            location.href = "/empresa/Delete?id=" + id;
    }
</script>

<style>
    th{
        color: #0DCAF0;
    }
    .linha-verde {
        background-color: #0DCAF0;
        color: black; 
    }

    .linha-azulescuro {
        background-color: #112E3C;
        color: #0DCAF0;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border: 1px solid #ddd;
    }
</style>
